# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.2.2
    hooks:
      # Run the linter
      - id: ruff
        args:
          - --fix
      # Run the formatter
      - id: ruff-format

# NOTE(@manawasp): uncomment when mypy restored
#   - repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.8.0
#     hooks:
#       - id: mypy
#         entry: mypy
#         files: \.py$
#         language: system
#         exclude: ^(t|venv|env|examples|docs)/
#         args: [--install-types, --non-interactive]
